:root {
    --blue: rgba(255, 255, 255, 0.27);
    --background: #0A0B0C;
    --block-background: #ffffff3a;
    --border: transparent;
    --media-background: #7c7c7c69;
    --midia-orange: #c45e29c2;
    --media-green: #407855b8;
    --media-blue: #0078d47d;
}

* {
    padding: 0;
    margin: 0;
}

html {
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-family: system-ui, Arial, sans-serif;
    /*
    background-image: radial-gradient(#00000049, transparent), url(./doodle1.jpg);
    background-position: center;
    background-size: cover;
    
    animation: animatedBackground 18s linear infinite alternate;
    
    background-color: var(--background);
    */
}

@keyframes animatedBackground {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 100% 100%;
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.664);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.52);
}

body {
    max-width: 1920px;
}

.header,
.wrapper,
.footer {
    /*
    background: radial-gradient(#00000046, #00000034);
    */
    background-color: var(--block-background);
    position: relative;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
}

.main-game-container {
    height: 75vh;
    padding: 15px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--border);
}

.header {
    margin-top: 2.5rem;
    height: 10%;
    font-size: 300%;
    border-bottom: 10px solid var(--border);
}

.wrapper {
    border: 1px solid var(--border);
}

.wrapper.active {
    border-radius: 10px;
    width: 70%;
}


/************
INDEX-PAGE-STYLE
*******/

form {
    padding: 40px;
    width: 90%;
}

label {
    font-size: 140%;
}

.usernameField,
select {
    padding: 10px 20px;
    outline: none;
    border-radius: 5px;
    font-size: 110%;
    text-align: center;
    position: relative;
    transform: translateX(-50%);
}

.usernameField {
    left: 40%;
}

.game-counter-select {
    left: 35%;
}

.game-round-select {
    left: 25%;
}

.createRoomBtn {
    text-align: center;
    padding: 10px 20px;
    margin-top: 30px;
    outline: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    cursor: pointer;
    font-size: 110%;
    border-radius: 5px;
    border: none;
}

.room-link {
    color: red;
    visibility: hidden;
    padding: 20px 40px;
    margin-top: 30px;
    cursor: grab;
    background-color: #fff;
    color: #111;
    height: 3vh;
}

.room-link.active {
    visibility: visible;
}


/*********
GAME-STYLE
***********/

.count_down_audio,
audio {
    display: none;
}

.paint-tools-wrapper {
    width: 30%;
    display: relative;
    transform: translateY(-50%);
}

.paint-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.chat-wrapper,
.word-letters,
.players,
.paint-tools-wrapper {
    border: 1px solid white;
}

.players>div img,
.chat-wrapper>div img {
    position: relative;
    width: 15%;
    height: 90%;
    margin-right: 1px;
}

.players>div {
    width: 100%;
}

.chat-wrapper>div:nth-child(odd),
.players>div:nth-child(odd),
.overlay-main-content>div:nth-child(odd) {
    background-color: var(--media-background);
}

.players div,
.chat-wrapper div,
.overlay-main-content div {
    height: 12%;
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    font-size: 85%;
}

.chat-wrapper>div {
    padding: 0px 5px;
    height: 8%;
    margin: 0;
    padding: 0;
    padding-left: 2px;
}

.game-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 87%;
    justify-content: space-between;
}

.paint-wrapper {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.score-and-chat-wrapper {
    width: 25%;
    height: 100%;
}

canvas {
    background-color: #fff;
}

.paint-tools-wrapper {
    height: 7%;
    display: flex;
    width: 100%;
    align-items: center;
}

.paint-tools-wrapper button {
    position: relative;
    display: block;
    height: 80%;
    padding: 0px 10px;
    outline: none;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

.paint-tools-wrapper>div {
    margin-left: 10px;
    border-radius: 5px;
}

.word-letters {
    font-size: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5%;
    margin-bottom: 10px;
}

.rounds-username {
    position: relative;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.game-word {
    width: 60%;
}

.timer {
    border: 3px solid transparent;
    padding: 10px;
    animation-duration: 600ms;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
}

@keyframes hurryUp {
    0% {
        border-color: var(--border);
    }
    49% {
        border-color: var(--border);
    }
    60% {
        border-color: transparent;
    }
    99% {
        border-color: transparent;
    }
    100% {
        border-color: var(--border);
    }
}

.username,
.timer,
.game-word {
    position: relative;
    top: 50%;
    height: fit-content;
    transform: translateY(-50%);
}

.players {
    overflow-x: hidden;
    height: 35%;
    width: 100%;
}

.chat-box {
    height: 50%;
}

.chat-wrapper {
    overflow-y: scroll;
    width: 100%;
    height: 90%;
    margin-bottom: 5px;
}

.chat-wrapper>div img {
    position: relative;
    width: 10%;
}

.user-avatar {
    position: relative;
    width: 10%;
}

.chat-box {
    margin-top: 20px
}

.send-message-wrapper {
    height: 10%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.textbox {
    padding: 3px;
    border: none;
    outline: none;
    height: 50%;
    border-radius: 2px;
    width: 65%;
    height: 80%;
}

.messageSubmitBtn {
    background-color: white;
    height: 80%;
    border: none;
    width: 30%;
    font-size: 80%;
    padding: 3px;
}


/**********
OVERLAY-STYLE
*******/

.dash-canvas {
    position: relative;
    width: fit-content;
    height: 80%;
}

.overlay {
    overflow: hidden;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.overlay.active {
    display: block;
}

.overlay.celebration {
    background-image: url(public/celebration.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.overlay-content-wrapper {
    display: inline-block;
    justify-content: center;
    position: relative;
    width: 80%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes overlayAnimation {
    from {
        left: 50%;
        top: 100%;
    }
    to {
        left: 50%;
        top: 50%;
    }
}

.overlayHeader {
    position: relative;
    left: 50%;
    display: flex;
    text-align: center;
    width: fit-content;
    transform: translateX(-50%);
    font-size: 120%;
    color: white;
    font-family: system-ui;
    height: fit-content;
    align-items: center;
}

.overlayHeader img {
    position: relative;
    height: 90%;
    width: 20%;
}

.overlay-main-content {
    position: relative;
    border: 1px solid var(--border);
    width: 40%;
    height: 50%;
    top: 10%;
    left: 50%;
    display: none;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    transform: translateX(-50%);
}

.overlay-main-content img {
    height: 95%;
    padding: 0px 5px;
}

.overlay-main-content.active {
    display: block;
}

.overlay-main-content div {
    width: 100%;
    cursor: pointer;
    font-size: 100%;
    text-align: center;
    margin-bottom: 1px;
}

.overlay-main-content>div:nth-child(odd) {
    background-color: var(--blue);
}

.overlay-btn {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    font-size: 200%;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: green;
    color: white;
    cursor: pointer;
}

.overlay-btn.active {
    display: block;
}

.join-room-div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.join-room-div input {
    text-align: center;
    padding: 15px 30px;
    font-size: 100%;
    font-family: system-ui;
}

.join-room-div button {
    padding: 5px 30px;
    font-size: 100%;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 3px;
}


/**************
PAINT-TOOLS-STYLE
********/

.color-picker {}

.strokeRange {}


/****************
LINK-TEXT-COPY-STYLE
****/

.overlay-content-wrapper h2 {
    display: flex;
    flex-wrap: wrap;
}

#game-link {
    width: 80%;
    border: 1px solid;
    animation-duration: 1000ms;
    animation-delay: 240ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.copy-link-btn-container {
    width: 10%;
    border: 1px solid;
    text-align: center;
    align-items: center;
}

.fa-clone {
    font-size: 80%;
    cursor: pointer;
}

.fa-clone:hover {
    color: rgb(160, 160, 160);
}


/***********
GAME-FILE-HELP-SECTION-STYLE
********/

.help-box {
    font-size: 75%;
    position: relative;
    display: flex;
    visibility: hidden;
    justify-content: space-evenly;
    width: 100%;
    height: 7%;
    margin-bottom: 10px;
}

.help-box.active {
    display: flex;
    visibility: visible;
    height: 8%;
}

#wordDefinition {
    border: 1px solid var(--border);
    position: relative;
    width: 80%;
    overflow: hidden;
    padding: 5px 20px;
}

#imageUrlRequestLink {
    position: relative;
    width: 10%;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--border);
}

.icon-static {
    cursor: pointer;
    font-size: 210%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-static .tooltip-text {
    visibility: hidden;
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 17px;
    width: 600%;
    padding: 5px 0px;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 10%;
    transform: translate(-50%, -50%);
}

.icon-static .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    margin-left: -20px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.icon-static:hover .tooltip-text {
    visibility: visible;
}


/************
OVERLAY-HELP-STYLE
**/

.overlay-main-content.help {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    justify-content: space-evenly;
    height: fit-content;
}

.overlay-help-image-block {
    position: relative;
    width: 45%;
    height: 400px;
}


/*************
bot - styles
*/

.bot {
    display: flex;
    position: relative;
    background-color: #0e192b;
    border-radius: 10px;
    width: fit-content;
    padding: 5px 30px;
    height: 5%;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
}

.bot.active {
    border-color: green;
}

.bot img {
    width: 30%;
    height: 90%;
    position: relative;
    padding: 5px;
}

.bot span {
    position: relative;
    font-size: 80%;
    width: fit-content;
}

.mediaWrapper {
    width: 80%;
    justify-content: center;
    height: 13vh;
    left: 15%;
    display: flex;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid transparent;
    border-radius: 10px;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--media-background);
}

.mediaWrapper>video {
    margin: 5px;
}

.mediaOverlayDropDownBtn {
    width: 100%;
    display: none;
    justify-content: center;
    cursor: pointer;
    height: 20%;
    background-color: rgba(255, 255, 255, 0.733)
}

.mediaOverlayDropDownBtn i {
    font-size: 100%;
    color: #344;
    transition: 540ms;
}

.mediaOverlayDropDownBtn:hover i {
    color: #000;
    font-size: 120%;
}

.mediaElement {
    height: 95%;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    border: 1px solid transparent;
    border-radius: 10px;
}

.mediaElement div,
.mediaElement video {
    height: 100%;
    top: 0%;
    left: 0%;
}

.mediaElement .mediaOverlayController {
    background: linear-gradient(to bottom, transparent 60%, #000000);
    position: absolute;
    z-index: 1003;
    width: 100%;
}

.mediaElement .mediaOverlayController .mediaMice {
    position: relative;
    display: block;
    border: 1px solid transparent;
    width: fit-content;
    height: fit-content;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    visibility: hidden;
    padding: 10px;
}

.mediaElement .mediaOverlayController .mediaFaceUsername {
    position: relative;
    width: fit-content;
    height: fit-content;
    font-size: 70%;
    left: 5%;
    top: 46%;
}

.mediaElement video {
    z-index: 1002;
}

.mediaElement:hover .mediaOverlayController .mediaMice {
    visibility: visible;
}

.mediaMice:hover {
    background-color: rgba(226, 25, 25, 0.822);
}

.mediaMice.active {
    background-color: rgba(226, 25, 25, 0.822);
}

.mediaElement.active .mediaOverlayController .mediaMice {
    visibility: visible;
}

.mediaElement.active .mediaOverlayController {
    background: linear-gradient(to bottom, transparent 45%, #000000);
}

.mediaElement:hover .mediaOverlayController {
    background: linear-gradient(to bottom, transparent 45%, #000000);
}

video {
    border-radius: 10px;
}

.user-Avatar {
    position: relative;
    display: inline-block;
    width: 15%;
    height: 15%;
}

.user-Avatar img {
    position: relative;
    width: 100%;
    height: 100%;
}

.like-dislike-container {
    position: absolute;
    left: -15%;
    padding: 10px;
}

.like-dislike-container>i {
    padding: 10px;
    border: 1px solid white;
    width: fit-content;
    cursor: pointer;
}

@keyframes likeDislikeBtns {
    0% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(-3deg);
    }
}

.like-dislike-container>i:hover {
    animation: likeDislikeBtns infinite ease-in-out 300ms;
}

.like-dislike-container.done {
    display: none;
}

