<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/game.css">
    <title>DASH-OFF | GAME</title>
</head>

<body>
    <div class='mediaWrapper' id="friendsMedia">
        <div class='mediaElement'>
            <div class='mediaOverlayController'>
                <div class='mediaMice'><i class="fas fa-microphone-slash"></i></div>
                <div class="mediaFaceUsername">You</div>
            </div>
            <video playsinline autoplay muted id='myFace'></video>
        </div>
        <!----------------------------------------------------------
            <div class='mediaElement'>
                <div class='mediaOverlayController'>
                    <div class='mediaMice'><i class="fas fa-microphone-slash"></i></div>
                    <div class="mediaFaceUsername">sankalp</div>
                </div>
                <video playsinline autoplay ></video>
            </div>
            ------------->
    </div>
    <div class="wrapper active main-game-container">

        <div class="bot">
            <img src='https://avatars.dicebear.com/api/bottts/freddy.svg' />
            <span>Freddy</span>
        </div>

        <div class="word-letters">
            <div class="rounds-username" id="gameRoundDisplay" align='center'>
                ROUND 1
            </div>

            <div class="game-word" id="gameWord" align='center'></div>
            <div class="timer" id="countDown" align='center'>00:00</div>
        </div>

        <div class="help-box" id="helpBox">
            <div id="wordDefinition"></div>
            <div id="imageUrlRequestLink"><i class="fas fa-info-circle icon-static">
        <span class="tooltip-text">HELP</span>
    </i></div>
        </div>

        <div class="game-wrapper" id='gameWrapper'>

            <div class='paint-wrapper'>

                <div class="dash-canvas">
                    <!--    OVERLAY     -->
                    <div class="overlay" id='overlay'>
                        <div class="overlay-content-wrapper">
                            <div id='overlay-heading' class='overlayHeader'></div>
                            <div class="overlay-main-content">
                                <div class="overlayContentDiv"></div>
                                <!-- <img class="overlay-help-image-block">
<img class="overlay-help-image-block"> -->
                            </div>
                            <button class="overlay-btn" id="startGameBtn">Start</button>
                        </div>
                    </div>
                    <!--    OVERLAY-END     -->
                    <canvas id='DashCanvas' width='800' height='475'></canvas>
                </div>


                <div class='paint-tools-wrapper' id='paintToolBox'>
                    <div>
                        <input type="color" id="colorPicker" value="#ff44af" class="color-picker" />
                    </div>
                    <div>
                        <input type="range" maxlength="30" minlength="5" value="8" id="lineWidthRange" class="strokeRange" />
                    </div>
                    <button class="pen" id="paintPen">pen</button>
                    <button class="clear" id='clearCanvas'>clear</button>
                    <button class="erase" id='eraser'>erase</button>
                </div>
            </div>

            <div class="score-and-chat-wrapper">
                <div class="players" id="playersList">
                    <!------------->
                    <div><img src='https://avatars.dicebear.com/api/identicon/sankalp.svg' /> Sankalp: 911</div>
                    <div><img src='https://avatars.dicebear.com/api/identicon/piyush.svg' /> Piyush: 459</div>


                </div>
                <div class="chat-box">
                    <div class='chat-wrapper' id='chatBox'>
                        <div><img src='https://avatars.dicebear.com/api/identicon/sankalp.svg' /> :- number plz</div>
                        <div><img src='https://avatars.dicebear.com/api/identicon/piyush.svg' /> :- get lost</div>
                    </div>
                    <div class="send-message-wrapper">
                        <input type="text" name='message' id='message-textbox' class="textbox" />
                        <button id='sendMessageBtn' class="messageSubmitBtn">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/27878f914f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
    <script defer type="text/javascript" src="public/game.js"></script>
    <script type="text/javascript" src="public/util.js"></script>
    <script defer type="text/javascript" src="public/canvas.js"></script>
    <script defer type="text/javascript" src="public/audio.js"></script>
    <script defer type="text/javascript" src="public/bc.js"></script>
    </div>
</body>

</html>