<div class="user-Avatar">
    <img src='https://avatars.dicebear.com/api/identicon/sanku.png' />
</div>
<form method="POST" action='/create' id='createRoom'>
    <select name="rounds" class="game-round-select">
        <option value="2" selected>2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
    </select>
    <input type="text" name='username' placeholder="username" class="usernameField" />
    <select name="counter" class="game-counter-select">
        <option value="30">30s</option>
        <option value="45">45s</option>
        <option value="60" selected>60s</option>
        <option value="90">90s</option>
        <option value="120">120s</option>
    </select>
    <br />
    <input type="submit" name='submit' value='create' class="createRoomBtn" />
</form>
<div id='roomLinkDiv' class="room-link"></div>
<script defer type="text/javascript" src='public/client.js'></script>